Source: bbcarchdev-cloud-base
Section: utils
Priority: important
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://confluence.dev.bbc.co.uk/display/ADOPS/Hosting+platform
Vcs-Git: git://github.com/bbcarchdev/deb-bbcarchdev-cloud-base.git
Vcs-Browser: https://github.com/bbcarchdev/deb-bbcarchdev-cloud-base

Package: bbcarchdev-cloud-base
Architecture: any
Depends: ${misc:Depends}, bbcarchdev-base, puppet, opennebula-context
Description: BBC Archive Development base configuration for "cloud" VMs
 This package contains the base configuration for the BBC Archive Development
 hosts for "cloud" VMs.
 .
 Note that this package depends upon packages which aren't present in the
 official Wheezy repositories: puppet and opennebula-context. See the
 documentation below to enable the Puppet and Wheezy-Backports repositories
 before attempting to install this package.
 .
 http://docs.puppetlabs.com/guides/install_puppet/install_debian_ubuntu.html
 .
 http://backports.debian.org/Instructions/

